body{
font-family:Consolas;
color:rgb(163, 166, 154);
margin:auto;
width:"50%";
text-align:center;
}

#techlearned table{
margin:auto;
border-collapse:collapse;
}

#techlearned th, #techlearned td{
text-align:center;
border:double;
}

#techlearned{
float:left;
width:25%;
text-align:center;
}

#techwanted{
padding-left:25px;
width:25%;
text-align:center;
}

#container{
/*width:39%;*/
content:"";
display: table;
clear: both;
background-color:rgb(64, 64, 64);
}

header{
font-family:Calibri;
font-size:110%;
color:blue;
text-align:"right";
}

#header_p{
text-shadow:2px 2px 5px red;
}

h2{
font-family:Calibri;
}

footer{
position:bottom;
}






