body{
    font-family:Consolas;
    background-color: rgb(68, 79, 111);
    color:rgb(163, 170, 150);
}

h2{
    text-align: center;
    font-family:Consolas;
    text-shadow:2px 2px 5px red;
}

#mega-container{
    position: relative;
    top: 50px;
    padding: 0 12%;
    min-width: 600px;
}

#header-container{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
    background-color:inherit;
    max-height: 54px;   
}

header{
    margin: 0px 12%;
    font-family:Calibri;
    font-size:100%;
    text-align:left;
    text-shadow:2px 2px 5px red;
    max-height: 54px;
}

header h1{
    margin-top: 5px;
    padding-left: 12.5%;
  
}

header div{ 
    padding-bottom: 8px;  
    border: 1px solid whitesmoke;   
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top: none;
    height: 34px;
}

p{
    text-align: center;
}

#container{
    position: absolute;
    width: 655.5px;
    margin-left: 21.5%;
    margin-right: 25%;
    top: 0px;
    border: 1px solid whitesmoke;
    border-radius: 20px;
    overflow: none; 
}

#left-container{
    position: absolute;
    width: 21.5%;  
    
}

nav{
    position: absolute;
    float: left;
    top: 10px;
    padding:0px 25%; 
}

nav a{
    color:rgb(27, 149, 224);
    text-decoration: none;
}

#left-container ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

#left-container li{
    padding: 0px 0px 10px 0px;
}

#techlearned th, #techlearned td{
    border:double;
}

#right-container{
    position: absolute;
    right: 0px;
    width: 25%;
}

#techlearned{
    position:relative;
    width: 100%;
    height: 200px;
    text-align:center;
}

#techwanted{
    position: relative;
    width: 100%;
    height: 264px;
    text-align:center;
}

#techlearned table{
    position: absolute;
    width: 60%;
    margin: 0px 20%;
    border-collapse:collapse;
}

#techwanted table{
    position: absolute;
    width: 60%;
    margin: 0px 12%;
}

audio{
    width: 60%;
    padding: 0 20%;
}

video{
    border: 1px solid whitesmoke;
    width: 90%;
    margin: 0 5%;
    padding-bottom: 2px;
}

footer{
    position: relative;    
}






